/node-book/nbproject/private/
/node-book/public_html/cap-02/hello-world/node_modules/
/public_html/cap-02/hello-world/node_modules/
/public_html/cap-03/blog-express/node_modules/
/public_html/cap-03/text-example/node_modules/
/public_html/project/node_modules/